form {
  margin-top: 10px;
}


form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 2px solid var(--gruen);
  font-size: 1rem;
  color: var(--dunkel);
  background: var(--weiss);
  resize: vertical;
  max-width: 100%;
  box-sizing: border-box;
}

form input::placeholder,
form textarea::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 0.95rem;
  color: #666;
}


form input:focus,
form textarea:focus {
  outline: none;
  border-color: var(--rot);
  box-shadow: 0 0 6px var(--rot);
}



.form-dsgvo {
  background: #c62828; /* dein Rotton */
  color: white;
  padding: 20px 0;
  padding-left: 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.checkbox-label {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 0.95rem;
  line-height: 1.4;
}

.checkbox-label input[type="checkbox"] {
  margin-left: 2px;
  width: 13px;
  margin-top: 3px;
  transform: scale(1.2); /* optional für größere Box */
}

.checkbox-label a {
  color: white;
  text-decoration: underline;
}

.form-hinweis {
  font-size: 0.85rem;
  margin: 0;
}

.form-dsgvo button {
  background: var(--gruen);
  color: var(--weiss);
  border: solid;
  border-color: var(--gruen);
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
}

.form-dsgvo button:hover {
  background-color: var(--weiss);
  color: var(--gruen);
}

.form-dsgvo button:active {
  transform: scale(1.01);
}
