
.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
  max-width: 900px;
  margin: 40px auto; /* Zentrierung */
  background: var(--rot);
  padding: 30px;
  border-radius: 24px;
  box-shadow: 0 6px 20px 4px var(--gruen);
  color: var(--weiss);
}


.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.section > *:not(img) {
  flex: 1;
}

.section h2 {
  margin-bottom: 15px;
}

.image_placeholder {
  max-width: 300px;
  border-radius: 16px;
  border: 2px solid var(--weiss);
}

@media (max-width: 749px) {
  .section {
    flex-direction: column;
    margin: 20px 20px 40px;
  }

  .image_placeholder {
    max-width: 100%;
    margin-top: 20px;
  }
}
