/* SECTION: Wrapper für volle Viewport-Höhe */
.section {
  height: auto;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section > .field {
  max-width: 900px; /* optional, wenn du nicht willst dass es zu breit wird */
  width: 100%;
}


